<!-- Bottom Footer (Info Line) -->
<footer class="footer-bar">
  <div class="footer-left">
    <span class="footer-item"><i data-lucide="user"></i>&nbsp;<span id="footerUsername">-</span></span>
    <span class="footer-divider">&nbsp;|&nbsp;</span>
    <span class="footer-item">Server:&nbsp;<span id="footerServerTime">-</span></span>
    <span class="footer-divider">&nbsp;|&nbsp;</span>
    <span class="footer-item">Local:&nbsp;<span id="footerLocalTime">-</span></span>
  </div>
  <div class="footer-right">
    <span class="footer-version">v2.5.4</span>
  </div>
</footer>
</div>